

<!--  FERTILIZER DATA ENTRY PARTIAL --  START  -->
<div class="col-md-12 main">


    <div>


        <form name="fertForm" class="form-horizontal" autocomplete="off" novalidate>


            <div class="col-md-12 container">

                <div class="form-group">
                    <h2>Fertilizer Data Entry:</h2>
                    <h3>Validation State of the Form - $scope.fertForm.$invalid:
                        <span class="color-{{fertForm.$invalid}}"> {{fertForm.$invalid}} </span></h3>
                </div>

            </div>



            <div class="row">


                <div class="col-md-4 container">


                    <div class="form-group">
                        <label for="ident" class="col-sm-2 control-label">Id Value</label>
                        <div class="col-sm-10">
                            <input type="text" name="fertId" class="form-control" id="ident" placeholder="Enter identification" ng-model="fert.idValue" required>
                            <label ng-show="fertForm.fertId.$dirty && show" class="red">{{warning}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Prod Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="fertName" class="form-control" id="name" placeholder="Enter name" ng-model="fert.productName" required>
                            <label for="name" class="red" ng-show="true">This Input is $pristine:
                                <span class="color-{{fertForm.fertName.$pristine}}">{{fertForm.fertName.$pristine}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ph" class="col-sm-2 control-label">pH</label>
                        <div class="col-sm-10">
                            <input type="number" name="fertPh" class="form-control" id="ph" placeholder="Enter ph value" ng-model="fert.ph" required >
                            <label for="ph" class="red" ng-show="true">This Input is $dirty:
                                <span class="color-{{fertForm.fertPh.$dirty}}">{{fertForm.fertPh.$dirty}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="costLb" class="col-sm-2 control-label">Cost/lb</label>
                        <div class="col-sm-10">
                            <input type="number" name="costLb" class="form-control" id="costLb" placeholder="Enter cost/lb" ng-model="fert.costPound" required>
                            <label for="costLb" class="red" ng-show="true">This Input is $touched:
                                <span class="color-{{fertForm.costLb.$touched}}">{{fertForm.costLb.$touched}}</span>
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="costLb" class="col-sm-2 control-label">Cost/Ton</label>
                        <div class="col-sm-10">
                            <input type="number" name="costTon" class="form-control" id="costTon" placeholder="Enter cost/ton" ng-model="fert.costTon" required>
                            <label for="costLb" class="red" ng-show="true">This Input is $touched:
                                <span class="color-{{fertForm.costTon.$touched}}">{{fertForm.costTon.$touched}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="liquid" class="col-sm-2 control-label">Liquid</label>
                        <div class="col-sm-10">
                            <input class="checkbox-inline" type="checkbox" name="liquid" id="liquid" value="liquidTrud" ng-model="fert.liquid" required>
                            <label for="liquid" class="red" ng-show="true">This Input is $touched:
                                <span class="color-{{fertForm.liquid.$touched}}">{{fertForm.liquid.$touched}}</span>
                            </label>
                        </div>
                    </div>


                    <!--idValue, productName, ph, costPound, costTon, costPoundNutrient, liquid,-->
                    <!--galWeightDensity, useFocus, nitrogen, phosphate, potasium, sulfur, calcium, zinc, magnesium, iron, manganese,-->
                    <!--copper, boron, totalMicro, om-->


                </div>
            </div>


            <!--SUBMIT BUTTON-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success pull-left" ng-click="save(fert)" ng-disabled="disable">Add Object</button>
                    <button class="btn btn-default pull-left" ng-click="reset()">Reset</button>
                    <button class="btn btn-default pull-left" ng-click="deQueue()">Delete Last Object</button>
                </div>
            </div>

        </form>



        <div class="panel">

            <table class="table table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>pH</th>
                    <th>cost/lb</th>
                    <th>cost/ton</th>
                    <th>cost/lb-nut</th>
                    <th>Liquid</th>
                    <th>GW-D</th>
                    <th>Use</th>
                    <th>N&nbsp;</th>
                    <th>P&nbsp;</th>
                    <th>K&nbsp;</th>
                    <th>S&nbsp;</th>
                    <th>Ca</th>
                    <th>Zn</th>
                    <th>Mg</th>
                    <th>Fe</th>
                    <th>Mn</th>
                    <th>Cu</th>
                    <th>B</th>
                    <th>TM</th>
                    <th>OM</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in items" repeat-end ="">
                    <td>{{$index+1}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.ph|number:1}}</td>
                    <td>{{item.costPound|currency}}</td>
                    <td>{{item.costTon|currency:"$":0}}</td>
                    <td>{{item.costPoundNutrient|currency}}</td>
                    <td>{{item.liquid}}</td>
                    <td>{{item.galWeightDensity}}</td>
                    <td>{{item.useFocus}}</td>
                    <td>{{item.nitrogen}}</td>
                    <td>{{item.phosphate}}</td>
                    <td>{{item.potasium}}</td>
                    <td>{{item.sulfur}}</td>
                    <td>{{item.calcium}}</td>
                    <td>{{item.zinc}}</td>
                    <td>{{item.magnesium}}</td>
                    <td>{{item.iron}}</td>
                    <td>{{item.manganese}}</td>
                    <td>{{item.copper}}</td>
                    <td>{{item.boron}}</td>
                    <td>{{item.totalMicro}}</td>
                    <td>{{item.om}}</td>
                </tr>
                </tbody>

            </table>



        </div>

        <pre ng-bind="items | json"></pre>


    </div>
</div>