<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="Daniel Niclas" content="">
  <link rel="icon" href="./favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="./dist/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="dashboard.css" rel="stylesheet">

  <!--Angular Library-->
  <script src="node_modules/angular/angular.min.js"></script>


  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="./assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="./assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    .bejuGreenBackground {
      background-color: #69bd43;
    }
    .squarePlaceholder img {
      border-radius: 3px !important;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: lightgray !important;
    }
    .navbar-toggle {
      border-color: lightgray !important;
    }

  </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top bejuGreenBackground">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!--<a class="navbar-brand" href="#">Project name</a>-->
      <img src="images/micronutrients_header-01-1024x83.png" width="400" height="50">
    </div>
    <div id="navbar" class="navbar-collapse collapse navbarBorderColor">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">


    <!--<div class="col-sm-3 col-md-2 sidebar">-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Reports</a></li>-->
        <!--<li><a href="#">Analytics</a></li>-->
        <!--<li><a href="#">Export</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="">Nav item</a></li>-->
        <!--<li><a href="">Nav item again</a></li>-->
        <!--<li><a href="">One more nav</a></li>-->
        <!--<li><a href="">Another nav item</a></li>-->
        <!--<li><a href="">More navigation</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="">Nav item again</a></li>-->
        <!--<li><a href="">One more nav</a></li>-->
        <!--<li><a href="">Another nav item</a></li>-->
      <!--</ul>-->
    <!--</div>-->


    <!--MAIN CONTENT-->

    <div class="col-md-12 main">
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
      <!--<h1 class="page-header">BeJu Solution Calculator</h1>-->

      <div class="row placeholders">


        <div class="col-md-6 col-sm-3 placeholder squarePlaceholder">
          <img src="images/logo-header-01.png" width="400" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Text Text Tex</span>
        </div>

        <div class="col-md-6 col-sm-3 placeholder squarePlaceholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="110" height="110" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Text Text Text</span>
        </div>


        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
          <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
          <!--<h4>Label</h4>-->
          <!--<span class="text-muted">Something else</span>-->
        <!--</div>-->

      </div>

      <h2 class="sub-header">Beju Solution Calculator</h2>
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
          </tr>
          </tbody>
        </table>






        <div ng-app="myApp" ng-controller="myCtrl">

          <form name="fertForm" class="form-horizontal" autocomplete="off" novalidate>


            <div class="col-md-12 container">

              <div class="form-group">
                <h2>Fertilizer Data Entry:</h2>
                <h3>Validation State of the Form - $scope.fertForm.$invalid:
                <span class="color-{{fertForm.$invalid}}"> {{fertForm.$invalid}} </span></h3>
              </div>

            </div>



            <div class="row">


              <div class="col-md-4 container">


              <div class="form-group">
                <label for="ident" class="col-sm-2 control-label">Id Value</label>
                <div class="col-sm-10">
                  <input type="text" name="fertId" class="form-control" id="ident" placeholder="Enter identification" ng-model="fert.idValue" required>
                  <label ng-show="fertForm.fertId.$dirty && show" class="red">{{warning}}</label>
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Prod Name</label>
                <div class="col-sm-10">
                  <input type="text" name="fertName" class="form-control" id="name" placeholder="Enter name" ng-model="fert.productName" required>
                  <label for="name" class="red" ng-show="true">This Input is $pristine:
                    <span class="color-{{fertForm.fertName.$pristine}}">{{fertForm.fertName.$pristine}}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="ph" class="col-sm-2 control-label">pH</label>
                <div class="col-sm-10">
                  <input type="number" name="fertPh" class="form-control" id="ph" placeholder="Enter ph value" ng-model="fert.ph" required >
                  <label for="ph" class="red" ng-show="true">This Input is $dirty:
                    <span class="color-{{fertForm.fertPh.$dirty}}">{{fertForm.fertPh.$dirty}}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="costLb" class="col-sm-2 control-label">Cost/lb</label>
                <div class="col-sm-10">
                  <input type="number" name="costLb" class="form-control" id="costLb" placeholder="Enter cost/lb" ng-model="fert.costPound" required>
                  <label for="costLb" class="red" ng-show="true">This Input is $touched:
                    <span class="color-{{fertForm.costLb.$touched}}">{{fertForm.costLb.$touched}}</span>
                  </label>
                </div>
              </div>


              <div class="form-group">
                <label for="costLb" class="col-sm-2 control-label">Cost/Ton</label>
                <div class="col-sm-10">
                  <input type="number" name="costTon" class="form-control" id="costTon" placeholder="Enter cost/ton" ng-model="fert.costTon" required>
                  <label for="costLb" class="red" ng-show="true">This Input is $touched:
                    <span class="color-{{fertForm.costTon.$touched}}">{{fertForm.costTon.$touched}}</span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="liquid" class="col-sm-2 control-label">Liquid</label>
                <div class="col-sm-10">
                  <input class="checkbox-inline" type="checkbox" name="liquid" id="liquid" value="liquidTrud" ng-model="fert.liquid" required>
                  <label for="liquid" class="red" ng-show="true">This Input is $touched:
                    <span class="color-{{fertForm.liquid.$touched}}">{{fertForm.liquid.$touched}}</span>
                  </label>
                </div>
              </div>


              <!--idValue, productName, ph, costPound, costTon, costPoundNutrient, liquid,-->
              <!--galWeightDensity, useFocus, nitrogen, phosphate, potasium, sulfur, calcium, zinc, magnesium, iron, manganese,-->
              <!--copper, boron, totalMicro, om-->




          </div>

          </div>






              <!--SUBMIT BUTTON-->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success pull-left" ng-click="save(fert)" ng-disabled="disable">Add Object</button>
                  <button class="btn btn-default pull-left" ng-click="reset()">Reset</button>
                  <button class="btn btn-default pull-left" ng-click="deQueue()">Delete Last Object</button>
                </div>
              </div>



            </form>



          <div class="panel">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Prod</th>
                <th>pH</th>
                <th>cost/lb</th>
                <th>cost/ton</th>
                <th>cost/lb/nut</th>
                <th>Liquid</th>
                <th>GWT</th>
                <th>Use</th>
                <th>N&nbsp;</th>
                <th>P&nbsp;</th>
                <th>K&nbsp;</th>
                <th>S&nbsp;</th>
                <th>Ca</th>
                <th>Zn</th>
                <th>Mg</th>
                <th>Fe</th>
                <th>Mn</th>
                <th>Cu</th>
                <th>B</th>
                <th>TM</th>
                <th>OM</th>

              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="item in items">

                <td>{{$index+1}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.ph|number:1}}</td>
                <td>{{item.costPound|currency}}</td>
                <td>{{item.costTon|currency}}</td>
                <td>{{item.costPoundNutrient|currency}}</td>
                <td>{{item.liquid}}</td>
                <td>{{item.galWeightDensity}}</td>
                <td>{{item.useFocus}}</td>
                <td>{{item.nitrogen}}</td>
                <td>{{item.phosphate}}</td>
                <td>{{item.potasium}}</td>
                <td>{{item.sulfur}}</td>
                <td>{{item.calcium}}</td>
                <td>{{item.zinc}}</td>
                <td>{{item.magnesium}}</td>
                <td>{{item.iron}}</td>
                <td>{{item.manganese}}</td>
                <td>{{item.copper}}</td>
                <td>{{item.boron}}</td>
                <td>{{item.totalMicro}}</td>
                <td>{{item.om}}</td>
              </tr>

              </tbody>

            </table>



          </div>

          <pre ng-bind="items | json"></pre>


        </div>



        </div>





      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--<script src="./dist/js/bootstrap.min.js"></script>-->
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="./assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./assets/js/ie10-viewport-bug-workaround.js"></script>

<!--Application Script:-->
<script src="app.js"></script>

<script type="text/javascript">

  //  This is a GIT Test

</script>


</body>
</html>
